
#tittle {
    background-color: #df3750;
}

body {
    font-family: 'Playfair Display', serif;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

p{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-family:"Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4rem;
}

.nav-link{
    font-family: 'Ubuntu-dark';
    font-size: 1.5rem;

}

.change-botton {
    margin: 5% 0 0 30%;
}

.foto-profil {
    width: 86%;
}

#tugas-carousel {
    padding: 5% 15%;
    text-align: center;
    background-color: gainsboro;
}

.favorite-image {
    width: 30%;
    border-radius: 15%;
    margin: 25px;
}

#tugas-card {
    padding: 5% 15%;
    text-align: center;
}

.card-image {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    margin: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;  
      background-color: red;
      color: white;
      text-align: center;
}